{% extends base_template %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'toastr.css' %}">
{% endblock extrahead %}
{% block latescripts %}
<script src="{% static 'toastr.min.js' %}"></script>
<script src="{% static 'list-actions.js' %}"></script>
{% endblock latescripts %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1 class="linie">{% trans "My Rooms" %}</h1>
<div class="table-responsive">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Room" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for r in rooms %}
        <tr>
            <td>{{ r.er.name }} ({{ r.er.uid }})</td>
            <td>
                {% if r.room %}
                    {% if r.room.worker %}
                        {{ r.room.worker.get_state_display }}
                    {% endif %}
                {% endif %}
            </td>
            <td>
                <a href="{{ r.join_url }}" class="btn btn-info btn-sm">{% trans "Join" %}</a>
                {% if r.room and r.room.worker %}
                    <a href="{% url 'watch_room' r.room.id %}" class="btn btn-info btn-sm watch-link">{% trans "Watch Stream" %}</a>
                    <button type="button" class="btn btn-info btn-sm copy_link">{% trans "Copy Stream Link" %}</button>
                    {% if r.room.worker.state == STATES.BBB_ACTIVE_PAUSED %}
                        <button type="submit" data-glid="{{ r.er.uid }}" data-url="{% url 'unpause_room' %}" class="btn btn-info btn-sm room_action">{% trans "Unpause Stream" %}</button>
                    {% elif r.room.worker.state == STATES.BBB_ACTIVE_STREAMING or r.room.worker.state == STATES.BBB_INACTIVE_STREAMING %}
                        <button type="submit" data-glid="{{ r.er.uid }}" data-url="{% url 'pause_room' %}" class="btn btn-info btn-sm room_action">{% trans "Pause Stream" %}</button>
                    {% endif %}
                    {% if r.room.worker %}
                        <button type="submit" data-glid="{{ r.er.uid }}" data-url="{% url 'stop_room' %}" class="btn btn-info btn-sm room_action">{% trans "Stop Stream" %}</button>
                    {% else %}
                        <button type="submit" data-glid="{{ r.er.uid }}" data-url="{% url 'start_room' %}" class="btn btn-info btn-sm room_action">{% trans "Start Stream" %}</button>
                    {% endif %}
                {% else %}
                    <button type="submit" data-glid="{{ r.er.uid }}" data-url="{% url 'start_room' %}" class="btn btn-info btn-sm room_action">{% trans "Start Stream" %}</button>
                    <a href="{% url 'edit_room' external_id=r.er.uid %}" class="btn btn-info btn-sm"><span title="{{r.room.pause_url}}">{% trans "Edit Pause Video" %}</span></a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">{% trans "No rooms to display." %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
