{% extends base_template %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'toastr.css' %}">
<style>
    #video-wrapper {
        position: relative;
        width: 100%;
    }
    #video-wrapper #play-btn {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.75);
        font-size: 8rem;
        color: white;
        z-index: 1;
    }
</style>

{% endblock extrahead %}
{% block latescripts %}
<script src="{% static 'adapter.min.js' %}"></script>
<script src="{% static 'bootbox.min.js' %}"></script>
<script src="{% static 'toastr.min.js' %}"></script>
<script src="{% static 'janus.js' %}"></script>
<script src="{% static 'streaming2.js' %}"></script>
{% endblock latescripts %}

{% block content %}

<h1 class="linie grey">Live Stream</h1>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <span class="badge" id="viewers" data-url="{% url 'room_viewers' room.id %}"></span>
            <span class="badge" id="bitrate"></span>
            <span class="badge" id="resolution"></span>
            <span id="simulcast_buttons"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="video-wrapper" data-turnuser="{{ turnuser }}" data-turnsecret="{{ turnsecret }}" data-turnuri="{{ turnuri }}" data-stunuri="{{ stunuri }}">
            <div id="play-btn">
                <span class="glyphicon glyphicon-play"></span></button>
            </div>
            <video id="main-video" width="100%" poster="{% static 'img/video-poster.png' %}" data-janus="{{ room.id }}" data-janus-api="{{ janus_api }}">
            </video>
        </div>
    </div>
</div>

{% endblock content %}
